<!DOCTYPE html>
<html>
  <head>
    <title>成功</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= msg  %> </h1>
    <a href='/accounts'>到列表</a></p>
  </body>
</html>
